
.form{
  border-radius: .5rem .6rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color:rgb(249, 237, 237) ;
}
.equal-text{
  min-width: 100px;
  text-align: center;
  font-size: 16px;
}
.equal-text1{
  min-width: 150px;
  text-align: center;
  font-size: 16px;
}
.linkslogin{
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
  margin-inline-start: 4em;
  margin-inline-end: 4em;
}
.App{
  background: rgb(63, 65, 141);
}
.student{
  height:100vh;
  background-color:white;
}
.studentnav{
  background-color:rgb(63, 65, 141);
  max-width: 100%;
  margin: 0;
}
.navlinks{
  border-radius: 1em;
}
.navlinks:hover{
  background-color:rgb(63, 65, 170);
  border-radius: 1em;
}
.profile{
  width: 200px;
}
.h{
  color: rgb(249, 237, 237);
}
.editstudentprofile{
  background-color: rgb(249, 237, 237);
  height: 170vh;
}
.firstedit{
  padding-top: 5vh;
  height: 100vh;
  background:rgb(249, 237, 237);
}
.scanqr{
  height: fit-content;
  width: fit-content;
  text-align: center;
}
.warden{
  height:100vh;
  background-color:white;
}
.security{
  height:100vh;
  background-color: rgb(249, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Scanner{
  width: 500px;
  height: 500px;
}
.equal-text2{
  min-width: 100px;
  text-align: center;
  font-size: 16px;
}
.equal-text3{
  min-width: 175px;
  text-align: center;
  font-size: 16px;
}

.form-field {
  margin-bottom: 1rem;
}

.custom-file-input {
  border: 1px solid #ced4da;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
}

.custom-input-group {
  display: flex;
  align-items: center;
}

.equal-text3 {
  width: 150px; /* Fixed width for uniform labels */
}
.m{
  color:rgb(63, 65, 141);
}


